/node_modules/
/lib/
/test/
custom-elements.json
# top level source
chai-form.js
chai-form.js.map
chai-form.d.ts
chai-form.d.ts.map
# only generated for size check
chai-form.bundled.js
# only generated for publishing
/dist/