/node_modules/
/lib/
/test/
custom-elements.json
# top level source
chai-*.js
chai-*.js.map
chai-*.d.ts
chai-*.d.ts.map
Chai*.js
Chai*.js.map
Chai*.d.ts
Chai*.d.ts.map
# only generated for size check
chai-form.bundled.js
# only generated for publishing
/dist/

# ide-configs
.idea/
*.iml


.DS_Store